<div class="page-header">
	<h3>about</h3>
    <div>Om de aanwezigheid van studenten snel na te gaan, hebben we deze website gemaakt. De student scant zijn studentenkaart
    bij het binnenkomen. De leerkracht krijgt dan een lijst te zien van wie aanwezig is. We werken momenteel nog met een simulatiesysteem
    waarbij de student zijn studentennummer nog moet ingeven. Via een knop klikt de student zijn aanwezigheid aan en daarna verschijnt
    hij in de tabel als aanwezige.</div>
    <img src="/img/scnnr.jpg">
</div>