<div class="page-header">
    <h3>Contact</h3>
</div>
<div class="contactUs" ng-controller="contactCtrl">
    <h4>Vragen? stuur het ons</h4>
    <div class="col-lg-3">
        <div>Samuel Buadez</div>
        <div>Samuel@ap.be</div>
        <div>0478 wa hadde nu zelf gedacht</div>
        <button ng-click="contacteerSamuel"  type="button" class="btn btn-primary">Stuur een vraag</button>
    </div>
    <div class="col-lg-3">
        <div>Tim Asscherickx</div>
        <div>Tim@ap.be</div>
        <div>04 ziede van hier</div>
        <button ng-click="contacteerTim"  type="button" class="btn btn-primary">Stuur een vraag</button>
    </div>
    <div class="col-lg-3">
        <div>Steven Verheyen</div>
        <div>Steven@ap.be</div>
        <div>04 69696969</div>
        <button ng-click="contacteerSteven"  type="button" class="btn btn-primary">Stuur een vraag</button>
    </div>
    <div class="col-lg-3">
        <div>Jeroen Van Wolput</div>
        <div>Jeroen@ap.be</div>
        <div>04 lekker dier</div>
        <button ng-click="contacteerJeroen"  type="button" class="btn btn-primary">Stuur een vraag</button>
    </div>
    <div>
    <input type="text" class="addressBox" ng-model="emailAddress" ng-show="hidden">
    <input type="text" class="messageBox" ng-model="emailContent" ng-show="hidden">
    </div>
</div>
<script>
    
</script>