<Link rel="stylesheet" href="css/CheckIn.css">

<div class="page-header">
	<h3>home</h3>
	<div class="vertical-center">
    <div class="col-md-2 col-md-offset-4 input">
        <label for="usr">Student number:</label>
        <input type="text" class="form-control" id="usr" ng-model="studentNumber">
        <button   ng-click="Aanwezig()" type="button" class="btn btn-primary">Aanwezig</button>
    </div>

    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Number</th>
                <th>Firstname</th>
                <th>Lastname</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<script>
        var myApp = angular.module("myApp",[]);
        myApp.controller("AppCtrl", function($scope, $http) {
            console.log("in controller");

        });
</script>